* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#everyThing {
  height: 100vh;
  background-color: rgb(148, 119, 119);
  overflow: hidden;
}

.scoreBoard {
  display: flex;
  justify-content: space-around;
  height: 25vh;
  padding-top: 70px;
  padding-left: 775px;
  padding-right: 775px;
}

.introScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60vh;
  align-items: center;
}

.title {
  font-size: 35px;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  padding-top: 75px;
  padding-bottom: 50px;
}

.playBtn {
  padding: 8px;
  background-color: chocolate;
  height: 50px;
  width: 150px;
}

.mainScreen {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.choices {
  display: flex;
  justify-content: space-around;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 100px;
}

.btn {
  background: cornsilk;
  height: 50px;
  width: 150px;
}

section.fadeOut {
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease;
}

section.fadeIn {
  opacity: 100;
  transition: 0.7s ease 0.7s;
}

.winner {
  text-align: center;
  height: 30vh;
  padding: 150px;
  font-size: 40px;
}

.scoreDivider {
  border: aquamarine;
  border-radius: 4px;
  border-style: outset;
  display: flex;
  align-items: center;
}

.scoreBoardLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.scoreBoardRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
