* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  background-color: rgb(148, 119, 119);
}

.score {
  display: flex;
  justify-content: space-evenly;
  height: 25vh;
  padding: 3px;
  align-items: center;
}

.introScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  align-items: center;
}

.title {
  font-size: 35px;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  padding-top: 75px;
  padding-bottom: 50px;
}

.playBtn {
  padding: 8px;
  background-color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
}

.mainScreen {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.choices {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  background: cornsilk;
  height: 50px;
  width: 150px;
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease;
}

div.fadeIn {
  opacity: 100;
  transition: 0.7s ease 0.7s;
}

.winner {
  text-align: center;
  height: 30vh;
  padding: 10px;
}

.seperatorLine {
  border: aquamarine;
  border-radius: 4px;
  margin-top: 140px;
  padding-bottom: 100px;
  border-style: solid;
}

.player-score {
  display: flex;
  flex-direction: column;
}

.computer-score {
  display: flex;
  flex-direction: column;
}
